.feed {
  -webkit-column-count: 4;
  -webkit-column-gap:   30px;
  -moz-column-count:    4;
  -moz-column-gap:      30px;
  column-count:         4;
  column-gap:           30px;

  @media (max-width: 1000px) {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  @media (max-width: 800px) {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
  @media (max-width: 400px) {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }

  .feed-entry {
    margin-bottom: 30px;
    break-inside: avoid;
    page-break-inside: avoid;

    img {
      border-radius: 4px;
    }

    .feed-entry__image {
      display: flex;
      align-items: center;
      position: relative;

      .feed-entry__image-stats {
        display: none;
        position: absolute;
        left: 42%;
        list-style: none;
        justify-content: center;
        margin: 10px 0;
        color: var(--accent);
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px rgb(10, 10, 10);

        svg {
          width: 25px;
          fill: var(--accent);
          margin-right: 5px;
          filter: drop-shadow(1px 1px 1px rgb(10, 10, 10));
        }
      }

      // when images are hover,
      // image gets darker and stats are shown
      &:hover {
        img {
          filter:grayscale(1);
        }

        .feed-entry__image-stats {
          display: flex;
        }
      }
    }

  }
}
