:root {
    --accent: rgb(254, 242, 0);
    --generic-border-color: #e2e1d9;
    --generic-bg-color: #fff;
    --generic-text-color: #1d1d1b;
    --generic-svg-fill: #1d1d1b;
    --input-placeholder-text-color: #afada3;
    --input-focus-br-color: #1d1d1b;
    --tooltip-anchor-fill: #e2e1d9;
    --tooltip-anchor-hover-fill: #1d1d1b;
    --radio-checked-bs-color: #fff;
    --radio-checked-bg-color: rgba(4,96,204,0.08);
    --radio-checked-text-color: #0460cc;
    --radioitem-active-br-color: #2d2d2b;
    --radioitem-hover-bg-color: rgba(4,96,204,0.07);
    --radioitem-checked-bg-color: rgba(4,96,204,0.11);
    --radioitem-checked-icon-color: #0460cc;
    --radioitem-disabled-br-color: #afada3;
    --radioitem-icon-color: #2d2d2b;
    --multi-select-before-bg-color: #e2e1d9;
    --multi-select-hover-bg-color: #f2f2f2;
    --multi-select-hover-border-color: #1d1d1b;
    --multi-select-active-bg-color: #e2e1d9;
    --multi-select-select-active-bg-color: #e5f4fb;
    --multi-select-disabled-text-color: #e2e1d9;
    --multi-select-disabled-bg-color: #f2f2f2;
    --multi-select-placeholder-text-color: #1d1d1b;
    --modal-dismiss-bg-color: #fff;
    --more-menu-hover-bg-color: #f2f2f2;
    --more-menu-focused-bg-color: #e2e1d9;
    --more-menu-focused-border-color: #61615f;
    --more-menu-pressed-bg-color: #e2e1d9;
    --tabs-text-color: #1d1d1b;
    --tabs-focus-bg: #f2f2f2;
    --tabs-hover-bg: #fafafa;
    --toggle-bg-color: #f2f2f2;
    --toggle-hover-bg: #afada3;
    --toggle-focus-bg: #e2e1d9;
    --stepper-bg-color: #0460cc;
    --stepper-bg-color-disabled: #afada3;
    --stepper-bg-border-color: #0460cc;
    --stepper-bg-border-color-disabled: #afada3;
    --stepper-text-color-disabled: #fff;
    --stepper-progress-bar-disabled: #e2e1d9;
    --stepper-label-text-disabled: #afada3;
    --radio-v2-bg-color: #f2f2f2;
    --radio-v2-hover-bg-color: #fff;
    --radio-v2-hover-border-color: #e2e1d9;
    --radio-v2-focus-bg-color: #fff;
    --radio-v2-focus-border-color: #0460cc;
    --radio-v2-focus-box-shadow: #0460cc;
    --radio-v2-active-bg-color: #fff;
    --radio-v2-active-border-color: #0460cc;
}
