@import "reset";
@import "variables";
@import "typography";
@import "header";
@import "feed";
@import "form";
@import "modal";
@import "./molecules/profile";

.wrapper {
  padding: 15px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media all and (max-width: 730px) {
    display: block;
  }
}

img {
  max-width: 100%;
}
